@font-face {
    font-family: 'Astro';
    src: url(astro.ttf);
}

@font-face {
    font-family: 'Nasalization';
    src: url(nasalization-rg.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body html {
    min-height: 100%;
    
}

#main {
    
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    margin-bottom: 80%;
    position: relative;
    background-color: #fff;
}

.background {
    /*background: url(../img/3D-HD-Colours.jpg);*/
    background-image: url(..//img/background_digital10.jpg);
    background-size: 100vmax;
    /*opacity: 0.80;*/
    top:50px;
    width: 100%;
    height: 100em;
    position: fixed;
    z-index: -1;
}

.mainPage{
    width: 80%;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border-radius: 5px;
    padding-top: 10px;
}

/************************************************************navbar*****************************************************************************/

.container {
    min-height: 65.6vh;
     
    
}
.navbar{
    background-color: rgb(77, 87, 145);
}
.container-fluid-nav {
    width: 100%;
    margin-top: 100px;
}

.search,
h2 {
    font-family: 'Nasalization';
}

a:hover {
    color: orangered;
}


/*navbar-digimeg*/

.digimeg-nav-wrap {
    position: relative;
    margin-right: auto;
    z-index: 300;
    
}


/*pour mobile*/

@media only screen and (max-width: 480px) {
    .digimeg-main-nav {
        display: flex;
        flex-direction: column;
    }
}

.digimeg-nav-wrap .digimeg-main-nav {
    display: block;
    width: 100%;
   
    
}

.digimeg-nav-wrap .digimeg-main-nav li {
    list-style-type: none;
    display: inline;
    float: left;
}
#Hight-Tech-subnav{
    box-shadow: 2px 2px 5px black;
    background-color: #fff;
    margin-top: 10px;
}
.digimeg-nav-wrap .digimeg-main-nav li a {
    
    display: block;
    padding-left: 25px;
    padding-top: 5px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Nasalization';
    color: white;
    position: relative;
}

.digimeg-group:after {
    
    content: '.';
    visibility: hidden;
    clear: both;
    display: block;
    line-height: 0px;
        
}

.digimeg-sub-nav {
    position: relative;
    
}

.digimeg-sub-nav li {
    list-style-type: none;
    display: block;
    
}

.digimeg-sub-nav>li {
    position: absolute;
    top: 0px;
    display: none;
}

.digimeg-nav-item-content {
    padding: 10px;
    color: black;
}

.digimeg-nav-item-content a {
    color: black;
}


/*navbar-nicemenu*/
 

.nicemenu {
    position: relative;
    display: block;
    height: auto;
    z-index: 300;
}

.nicemenu * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.nicemenu-item {
    background-color: #fff;
    display: inline-block;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 10px;
    z-index: 200;
    
}

.nicemenu-item h5 {
    color: white;
    font-weight: bold;
}

.nicemenu-item h6 {
    color: black;
    font-size: 16px;
    line-height: 2em;
    font-weight: bold;
}

.nicemenu-sub {
    background-color: #fff;
    padding: 16px;
    overflow: hidden;
    color: #000;
    width: 40em;
    min-width: 360px;;
    border-bottom: 1px solid rgb(186, 211, 243);
    z-index: 180;
    
}

.nicemenu-sub h5 {
    font-size: 1.2em;
}

.w-3-1 {
    position: relative;
    float: left;
    width: 30%;
    margin-right: 5%;
}

.w-3-1 a {
    list-style-type: none;
    color: #5D6B88;
    text-decoration: none;

}
.w-3-1 a:hover {
    color: #051447;
    
}


/*pour mobile

@media only screen and (max-width: 480px) {
    .nicemenu-item .nicemenu-sub {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
}*/

/**************************************************accueil**************************************************************************************/

.nameSite {
    font-family: 'Astro', arial, serif;
    font-size: 80px;
    color: rgb(255, 255, 255);
    width: auto;
    height: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
}

@media only screen and (max-width: 480px) {
    h1 {
        font-size: 60px;
    }
    .prez {
        font-size: 18px;
    }
}

.prez {
    font-size: 20px;
    width: 80%;
    text-align: center;
    border-bottom: solid rgb(210, 213, 216) 1px;   
    padding-bottom: 30px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 10%;
}
.smile{
    color: yellow;
}

/*************************************************************card*****************************************************************************/

h2 {
    max-height: auto;
    margin: 3%;
    margin-left: 30%;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.title-waiting {
    margin-left: 15%;
}

.card {
    max-height: 50%;
    max-width: 35%;
    margin-bottom: 20px;
}

.card-header{
    height: 70px;
}

.modaldesc{
    margin-left : 30%;
}
img {
    width: 50%;
    margin-left: 30%;
    margin-bottom: 10px;
    height: auto;
    object-fit: cover;
}

.card-footer h4 {
    font-size: 20px;
}

.card-footer a {
    color: white;
    margin-bottom: 5px;
}


/*notation étoile*/

#card-footer {
    direction: rtl;
    margin-left: 10%;
}

.card-footer i {
    color: orange;
    text-decoration: none;
    font-size: 1em;
    transition: color .4s;
}


/**********************************************************************ancre retour haut**********************************************************/

#scroll_to_top {
    position: fixed;
    width: 25px;
    height: 25px;
    bottom: 75px;
    right: 50px;
}

#scroll_to_top img {
    width: 50px;
}


/********************************************************footer************************************************************************************/

.footer {
    clear: both;
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #343A40;
}

.btn {
    margin-top: 5px;
    margin-bottom: 5px;
}


/************************************************formulaires inscription et connection**********************************************************/

.container-connect {
    margin-bottom: 21.3%;
    margin-left: 40%
}

.first, .second {
    border-radius: 5px 5px 5px 5px;
    border: solid rgb(210, 213, 216) 0.5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.30);
}
.first{
    width: 80%;
}
.second{
    width: 60%;
}

label {
    font-family: 'Nasalization';


}

.inscription {
    background-color: #F50057;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    font-family: 'Nasalization';
    font-size: 22px;
    color: #fff;
    cursor: pointer;
    z-index: 40;
    transition: .2s ease-in;
    margin: auto;
    margin-top: 10px;
}

.identity {
    background-color: rgb(236, 60, 29);
    border-radius: 5px;
    width: 80%;
    text-align: center;
    line-height: 35px;
    font-family: 'Nasalization';
    font-size: 22px;
    color: #fff;
    cursor: pointer;
    z-index: 40;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.30);
    transition: .2s ease-in;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}


/***********************************************************formulaire ajout d'avis***************************************************************/

.addReview {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px 10px 10px 10px;
    margin-top: 20px;
}

.textReview textarea {
    vertical-align: top;
    overflow: auto;
    margin-bottom: 10px;
}


/*signale la validité ou non des champs concernés*/

input:invalid {
    border: 1px solid red;
}

input:valid {
    border: 1px solid green;
}

input[type=checkbox] {
    color: #fff;
}


/******************************************************************tchat***************************************************************************/

.tchat-waiting {
    margin-bottom: 80%;
}

#waiting {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 10px;
    margin: auto;
    margin-top: 2%;
}