@font-face {
    font-family: 'Astro';
    src: url(astro.ttf);
  }
@font-face {
    font-family: 'Nasalization';
    src: url(nasalization-rg.ttf);
  }

body{
    background: url(../img/3D-HD-Colours.jpg);
}
/*navbar*/

.search, h2{
    font-family: 'Nasalization';
}
/*accueil*/
h1{
    font-family: 'Astro', arial, serif;
    font-size: 80px;
    color: rgb(255, 255, 255);
    width: auto;
    height: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
}
.prez{
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 10px ;
    margin-top: 2%;
    margin-bottom: 2%;
}
/*card*/
h2{
  margin: 3%;
  margin-left: 30%;
}
h3{
  font-size: 20px;
  font-weight: bold;
}
.title-waiting{
  margin-left : 15%;
}
.card{
  max-height: auto;
  margin-left: 20px;
  margin-bottom: 20px;
}

img{
  width: 80%;
  margin-left: 10%;
  height: auto;
  object-fit: cover; 
}
.card-footer h4{
  font-size: 20px;
}
.card-footer a{
  color: white;
  margin-bottom: 5px;
}
.card-footer a:hover{
  color: orangered;
}
/*notation étoile*/
#card-footer {
  direction: rtl;
  margin-left: 10%;
}
.card-footer i {
  color:orange;
  text-decoration: none;
  font-size: 1em;
  transition: color .4s;
}
/*ancre flèche haut*/
#scroll_to_top { 
  position: fixed; 
  width: 25px; 
  height: 25px; 
  bottom: 50px; 
  right: 50px; 
} 
/*footer*/
.btn-footer{
  background-color: #343A40;
}
.btn{
  margin-top: 5px;
  margin-bottom: 5px;
}

#scroll_to_top img { 
  width: 50px; 
}
/*formulaires inscription et connection*/
.first, .second{
    width: 450px;
    border-radius: 25px 25px 25px 25px;
    background: rgba(255, 255, 255, 0.7);
  }
   label{
    font-family: 'Nasalization';
  }
  .inscription{
    background-color: #F50057;
    border-radius: 50px;
    text-align: center;
    line-height: 40px;
    font-family: 'Nasalization';
    font-size: 22px;
    color: #fff;
    cursor: pointer;
    z-index: 40;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    transition:.2s ease-in;
  
  }
  .identity{
    background-color: rgb(236, 60, 29);
    border-radius: 50px;
    text-align: center;
    line-height: 40px;
    font-family: 'Nasalization';
    font-size: 22px;
    color: #fff;
    cursor: pointer;
    z-index: 40;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    transition:.2s ease-in;
  }
  /*formulaire ajout d'avis*/
  .addReview{
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px 10px 10px 10px;
    margin-top: 20px;
  }
  
  .textReview textarea{
    vertical-align: top;
    overflow: auto;
    margin-bottom: 10px;
  }
  /*signale la validité ou non des champs concernés*/
  input:invalid {
    border: 1px dashed red;
  }
  
  input:valid {
    border: 1px solid green;
  }
  /*tchat*/
  #waiting{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 10px ;
    margin: auto;
    margin-top: 2%;
  }